body {
    background-image: linear-gradient(90deg, #bdc3c7, #2c3e50);
    font-family: Tahoma, Arial;
}
.logo {
    padding: 0 1em;
}
    .logo h1 {
        float: left;
        width: 200px;
        color: rgba(255,255,255,.5);
        font-size: 4em;
        margin: 0;
    }
    .logo p {
        float: right;
        padding: .5em;
        color: #fff;
        font: bold 1.5em sans-serif;
    }
    .logo a {
        float: right;
        display: block;
        width: 200px;
        margin: 1em;
        padding: 0.5em 0;
        text-align: center;
        background-color: rgba(255,255,255,.2);
        color: #fff;
        text-decoration: none;
        font-size: 1.5em;
    }
    .logo a:hover {
        background-color: rgba(255,255,255,.35);
    }
.logo:after {
    display: table;
    content: '';
    clear: both;
}    
.wrap {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    border: 1px solid lightgray;
    box-shadow: 0 0 6px #222;
}


/* main view  */
.main_view__top {
    padding-right: 1em;
}
.main_view__top:after{
    display: table;
    content: '';
    clear: both;
}
    .main_view__top h2 {
        color: #fff;
        margin-left: 2em;
        float: left;
    }
    .main_view__top .sort_list {
        float: right;
        color: #fff;
    }
        .main_view__top .sort_list span {
            font-weight: bold;
        }
        .main_view__top li {
            list-style-type: none;
            list-style-position: inside;
        }

.alert {
    width: auto;
    padding: 0.5em 1em;
    color: green;
    background-color: #b1dbb1;
    font: normal 1.2em sans-serif;
}
.alert-error {
    color: darkred;
    background-color: #edafaf;
}

/* Sort_by list */

    .sort_list {
        position: relative;
    }
        .sub-menu {
            display: none;
            position: absolute;
            padding: 0;
            transition: all .5s;
            background-color: indianred;
        }
            .sub-menu a {
                display: block;
                width: 100%;
                padding: .5em;
                text-decoration: none;
                border-bottom: 1px solid #999;
                color: #fff;
                background-color: #222;
            }

            .sub-menu a:hover {
                background-color: slategray;

            }

        .sort_list:hover > ul {
            display: block;
            background-color: olive;
        }
/* /Sort_by list */


.main-content_wrap {

    padding: .5em;
    background-color: #fff;
}

    .post {
        border-bottom: 1px solid #999;
    }
        .post_content,
        .post_addition {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            padding: .5em;
        }
        .post_content {

        }
            .post_text {

            }
                .post_text h1 {

                }
                .post_text p {

                }
                .post_image img {
                    box-shadow: 0 0 2px #222;
                }
        .post_addition {
            justify-content: flex-start;
        }
            .post_addition p {
                font-size: .8em;
                color: #999;
                margin-left: 1em;
            }
                .post_addition span {
                    font-size: 1em;
                    color: #222;
                }


/*
    .post {
        width: auto;
        margin: 0 auto;
        margin-bottom: .5em;
        padding-left: 1em;
        min-width: 320px;
        background-color: #fff2b4;
        border: 1px solid #999;
        border-radius: 4px;
    }
        .post_top:after{
            display: table;
            content: '';
            clear: both;
        }
            .post_top p {
                float: right;
                margin: .5em;
                color: #999;

            }
            .post_top p:first-child {
                float: left;
            }
            .post_top p span {
                color: darkred;
                font-style: italic;
            }
*/
            /* form wrap */
    .form-wrap {
        margin: 0 auto;
    }
        .form-wrap form {
            display: block;
            width: 100%;
            max-width: 500px;
            margin: 0 auto;
        }
            .form-wrap input{
                display: block;
                width: auto;
                padding: .5em 1em;
                margin: .5em 0;
            }

            /* pagination */

    .pagination_wrap {
        width: 100%;
    }
        .pagination {
            display: block;
            width: fit-content;
            margin: 0 auto;
            padding: 0;
        }
        .pagination:after {
            display: table;
            content: '';
            clear: both;
        }
            .pagination li {
                float: left;
                list-style-type: none;
                margin: 0 2px;
            }
                .pagination li a {
                    display: block;
                    padding: .5em;
                    text-decoration: none;
                    color: #fff;
                    background-color: rgba(255,255,255,.5);
                    font: bold 1.2em sans-serif;
                    transition: all .2s linear;
                }
                .pagination li a:hover {
                    background-color: rgba(255,255,255,.8);
                    color: #444;
                }
            /* /pagination */

/* /main view  */

/* 404 view*/

.page_not_found {
    display: block;
    width: 100%;
    color: darkslategray;
}
    .page_not_found h1 {
        text-align: center;
    }
    .page_not_found p {
        text-align: center;
    }
    .page_not_found a {
        display: block;
        width: 200px;
        margin: 1em auto;
        padding: .5em 0;
        border-radius: 0.5em;
        text-align: center;
        color: #b1dbb1;
        background-color: olivedrab;
        text-decoration: none;
    }
    .page_not_found a:hover {
        background-color: #618517;
    }


/*/404 view*/