{% extends "admin_template.html.twig" %}
{% block title %}
    Create new post
{% endblock %}

{% block content %}

    <form action="/admin/store" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="action" value="create">
        <input type="text" name='header' placeholder="Header" required>
        <textarea name='text' cols="30" rows="10" placeholder="Content ..." required></textarea>
        <label>'jpeg', 'png', 'gif'.
            <input type="file" name="upload_file">
        </label>
        <input type="submit" value="Create">
    </form>

{% endblock %}