<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="../../public/css/admin/admin_style.css">
    <link rel="stylesheet" href="../../public/css/normalize.css">
</head>
<body>

<div class="logo">
    <div>
        <h1>CRUD</h1>
        <h2>Admin panel</h2>
    </div>
    <p>Hello, {{ parameters.user.login}}</p>
    <a href="login/logout">Log Out</a>
    <a href="/">Main page</a>
</div>

<div class="wrap">

    {% block content %}

    {% endblock %}

</div>


</body>
</html>