body {
    background-image: linear-gradient(90deg, #bdc3c7, #2c3e50);
    font-family: Tahoma, Arial;
}
.logo {
    padding: 0 1em;
}
.logo > div {
    float: left;
}
    .logo h1{
        color: rgba(255,255,255,.5);
        font-size: 4em;
        margin: 0;
    }
    .logo h2 {
        color: rgba(255,255,255,.5);
        font-size: 2em;
    }
    .logo a {
        float: right;
        display: block;
        width: 200px;
        margin: 1em;
        padding: 0.5em 0;
        text-align: center;
        background-color: rgba(255,255,255,.2);
        color: #fff;
        text-decoration: none;
        font-size: 1.5em;
    }
    .logo a:hover {
        background-color: rgba(255,255,255,.35);
    }
.logo:after {
    display: table;
    content: '';
    clear: both;
}
.wrap {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    border: 1px solid lightgray;
    background-color: #fff;
    box-shadow: 0 0 6px #222;
}
    .btn {
        display: block;
        margin: 0.5em;
        padding: 0.2em 0;
        width: 100px;
        border: 1px solid #2c3e50;
        border-radius: 4px;
        background-color: #fff2b4;
        text-decoration: none;
        text-align: center;
    }
    .btn:hover {
        background-color: #ffffdd;
    }
    table {
        cellspacing: 0;
        margin-top: 1em;
    }
        table tr:nth-child(even) {
            background-color: aliceblue;
        }
            table td {
                border-bottom: 1px solid #999;
                border-top: 1px solid #999;
                padding: 0.2em 1em;
            }

    .alert {
        width: auto;
        padding: 0.5em 1em;
        color: green;
        background-color: #b1dbb1;
        font: normal 1.2em sans-serif;
    }
    .alert-error {
        color: darkred;
        background-color: #edafaf;
    }

/* create form */

    form input,
    form textarea {
        display: block;
        margin: .5em;
        padding: 0.5em;
    }

/* /create form */