body {
    background-image: linear-gradient(90deg, #bdc3c7, #2c3e50);
    font-family: Tahoma, Arial;
}
.logo {
    padding: 0 1em;
}
.logo > div {
    float: left;
}
    .logo h1{
        color: rgba(255,255,255,.5);
        font-size: 4em;
        margin: 0;
    }
    .logo h2 {
        color: rgba(255,255,255,.5);
        font-size: 2em;
    }
    .logo a {
        float: right;
        display: block;
        width: 200px;
        margin: 1em;
        padding: 0.5em 0;
        text-align: center;
        background-color: rgba(255,255,255,.2);
        color: #fff;
        text-decoration: none;
        font-size: 1.5em;
    }
    .logo a:hover {
        background-color: rgba(255,255,255,.35);
    }
    .logo p {
        float: right;
        padding: .5em;
        color: #fff;
        font: bold 1.5em sans-serif;
    }
.logo:after {
    display: table;
    content: '';
    clear: both;
}
.wrap {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    border: 1px solid lightgray;
    background-color: #fff;
    box-shadow: 0 0 6px #222;
}
    .btn {
        display: inline-block;
        margin: 0.5em;
        padding: 0.2em 0;
        width: 100px;
        border: 1px solid #2c3e50;
        border-radius: 4px;
        background-color: #fff2b4;
        text-decoration: none;
        text-align: center;
    }
    .btn:hover {
        background-color: #ffffdd;
    }
    /* post in admin panel */

.top {
    background-color: rgba(150,200,150,.5);
    padding: 1em;
}
    .top a {
        margin: 0;
        padding: .5em 1em;
    }
.post {
    border-bottom: 1px solid #999;
    background-color: #fcf7ea;
}
    .post_content,
    .post_addition {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        padding: .5em;
    }
        .post_content {

        }
        .post_text {

        }
            .post_text h1 {

            }
            .post_text p {

            }
            .post_image img {
                box-shadow: 0 0 2px #222;
            }
        .post_addition {
            justify-content: flex-start;
        }
            .post_addition p {
                font-size: .8em;
                color: #999;
                margin-left: 1em;
            }
                .post_addition span {
                    font-size: 1em;
                    color: #222;
                }


    /* pagination */

    .pagination_wrap {
        width: 100%;
    }
        .pagination {
            display: block;
            width: fit-content;
            margin: 0 auto;
            padding: 0;
        }
        .pagination:after {
            display: table;
            content: '';
            clear: both;
        }
            .pagination li {
                float: left;
                list-style-type: none;
                margin: 0 2px;
            }
                .pagination li a {
                    display: block;
                    padding: .5em;
                    text-decoration: none;
                    color: #fff;
                    background-color: rgba(0,0,0,.5);
                    font: bold 1.2em sans-serif;
                    transition: all .2s linear;
                }
                .pagination li a:hover {
                    background-color: rgba(0,0,0,.8);
                    color: #fff;
                }
    /* /pagination */
    /* /post in admin panel */

    .alert {
        width: auto;
        padding: 0.5em 1em;
        color: green;
        background-color: #b1dbb1;
        font: normal 1.2em sans-serif;
    }
    .alert-error {
        color: darkred;
        background-color: #edafaf;
    }

/* create form */

    form input,
    form textarea {
        display: block;
        margin: .5em;
        padding: 0.5em;
    }

/* /create form */

/* MEDIA*/

@media (max-width: 780px) {
    .post_content {
        flex-direction: column;
    }
    .post_image img {
        display: block;
        margin: 0 auto;
    }
}

@media (max-width: 880px) {
    .logo > div {
        float: none;
    }
    .logo p {
        float: none;

    }
    .logo a {
        float: none;
        width: auto;
        border-bottom: 2px solid;

    }
}