body {
    background-image: linear-gradient(90deg, #bdc3c7, #2c3e50);
    font-family: Tahoma, Arial;
}
.logo {
    padding: 0 1em;
}
.logo > div {
    float: left;
}
    .logo h1{
        color: rgba(255,255,255,.5);
        font-size: 4em;
        margin: 0;
    }
    .logo h2 {
        color: rgba(255,255,255,.5);
        font-size: 2em;
    }
    .logo a {
        float: right;
        display: block;
        width: 200px;
        margin: 1em;
        padding: 0.5em 0;
        text-align: center;
        background-color: rgba(255,255,255,.2);
        color: #fff;
        text-decoration: none;
        font-size: 1.5em;
    }
    .logo a:hover {
        background-color: rgba(255,255,255,.35);
    }
    .logo p {
        float: right;
        padding: .5em;
        color: #fff;
        font: bold 1.5em sans-serif;
    }
.logo:after {
    display: table;
    content: '';
    clear: both;
}
.wrap {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    border: 1px solid lightgray;
    background-color: #fff;
    box-shadow: 0 0 6px #222;
}
    .btn {
        display: block;
        margin: 0.5em;
        padding: 0.2em 0;
        width: 100px;
        border: 1px solid #2c3e50;
        border-radius: 4px;
        background-color: #fff2b4;
        text-decoration: none;
        text-align: center;
    }
    .btn:hover {
        background-color: #ffffdd;
    }
    /* post in admin panel */

.admin_post {
    background-color: beige;
    padding: 0 .5em;
    margin-bottom: .5em;
    border-bottom: 2px solid #999;
}
.admin_post:after{
    display: table;
    content: '';
    clear: both;
}
    .admin_post__controls {
        float: right;
    }
    .admin_post__content {
        float: left;
        max-width: calc(100% - 150px);
    }
        .admin_post__content > p {
            max-height: 200px;
            padding: 5px;
            overflow: auto;
        }
        .admin_post__content .additional {
            display: block;
            width: auto;
            height: auto;
        }
            .admin_post__content .additional p {
                display: inline-block;
                padding: .2em;
                margin: .5em;
                background-color: rgba(0,0,0,.1);
            }


    /* pagination */

    .pagination_wrap {
        width: 100%;
    }
        .pagination {
            display: block;
            width: fit-content;
            margin: 0 auto;
            padding: 0;
        }
        .pagination:after {
            display: table;
            content: '';
            clear: both;
        }
            .pagination li {
                float: left;
                list-style-type: none;
                margin: 0 2px;
            }
                .pagination li a {
                    display: block;
                    padding: .5em;
                    text-decoration: none;
                    color: #fff;
                    background-color: rgba(0,0,0,.5);
                    font: bold 1.2em sans-serif;
                    transition: all .2s linear;
                }
                .pagination li a:hover {
                    background-color: rgba(0,0,0,.8);
                    color: #fff;
                }
    /* /pagination */
    /* /post in admin panel */

    .alert {
        width: auto;
        padding: 0.5em 1em;
        color: green;
        background-color: #b1dbb1;
        font: normal 1.2em sans-serif;
    }
    .alert-error {
        color: darkred;
        background-color: #edafaf;
    }

/* create form */

    form input,
    form textarea {
        display: block;
        margin: .5em;
        padding: 0.5em;
    }

/* /create form */