{% extends "template.html.twig" %}
{% block title %}
    Register form
{% endblock %}

{% block content %}
    <form action="/register/registration" method="POST">
        <input type="text" name="login" placeholder="Login">
        <input type="password" name="password" placeholder="Password">
        <input type="password" name="re_password" placeholder="Confirm Password">
        <input type="submit" value="Registration">
    </form>

{% endblock %}
