<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="../../public/css/style.css">
    <link rel="stylesheet" href="../../public/css/normalize.css">
</head>
<body>
    <div class="logo">
        <h1>CRUD</h1>
        <a href="/admin">Admin Panel</a>
    </div>

    <div class="wrap">

        {% block content %}

        {% endblock %}

    </div>


</body>
</html>